<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @past_work.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @past_work.description %>
</p>

<%= link_to 'Edit', edit_past_work_path(@past_work) %> |
<%= link_to 'Back', past_works_path %>
