<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/other_styles.css">
  <title>ExercisesGeneric</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<h1> Jonas is not Awesome </h1>
<h1> Felix is also Really Really Awesome</h1>


<%= render '/layouts/header' %>

<%= yield %>

<%= render '/layouts/footer' %>

</body>
</html>
